.line{
    border: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color: #0A98E8;
    padding: 5px;
}
#elementname{
    font-size: 40px;
    font-weight: bold;   
    font-family:'arial';

}
#element{
    font-size: 25px;
    font-family:'arial';

}