.line{
    border: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color: #0A98E8;
    padding: 5px;
}

#pagetitle{
    font-size: 40px;
    text-align: center;
    line-height: 1;
    font-family: 'Roboto';
    font-style: normal;
}

#elementname{
    font-size: 30px;
    font-weight: bold;   
    font-family: 'Roboto';
    margin-left: 25px; 
    line-height: 1;
}

#element{
    font-size: 25px;
    font-family: 'Roboto';
    margin-left: 25px; 
    line-height: 1;
}

split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.url{
    color:black;
}

.url:hover{
    color:#0A98E8;
}

.left {
    left: 0;
    background-color: #111;
}

.right {
    right: 0;
    background-color: red;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row {
    content: "";
    display: table;
    clear: both;
}

.btncontainer { 
    height: 90px;
    position: relative;
}

.btncenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btnBlue {
    width: 140px;
    height: 45px;
    background-color: #0A98E8;
    border: none;
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto';
}

.btnBlue:hover {
    opacity: 0.7
}

.btnRed {
    width: 140px;
    height: 45px;
    background-color: #FF0C0C;
    border: none;
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto';
}

.btnRed:hover {
    opacity: 0.7
}

.centerdiv{
    width: 15%;
    transform: translate(-50%, -50%);
}
.buttonForTable{
    background:    #ffffff;
    border:        1px solid #000000;
    border-radius: 7px;
    width:         90px;
    height:        30px;
    color:         #000000;
    display:       inline-block;
    font:          normal normal 15px/30px "Open Sans", sans-serif;
    text-align:    center;
}
.buttonForTable:hover{
    opacity: 0.7
}

th {
    font-size: 15px;
    border-top: 1px solid #0A98E8;
    border-bottom: 2px solid #0A98E8;
    padding: 10px 14px 10px 14px;

}

td {
    font-size: 15px;
    border-bottom: 1px solid #0A98E8;
    padding: 9px 14px 9px 14px;
}
table { 
    margin-left: auto;
    margin-right: auto;
}
