.find{
    width: 50%;
    margin: 0 auto;
}

th {
    font-size: 25px;
    border-top: 1px solid #0A98E8;
    border-bottom: 2px solid #0A98E8;
    padding: 10px 14px 10px 14px;

}

td {

    font-size: 25px;
    border-bottom: 1px solid #0A98E8;
    padding: 9px 14px 9px 14px;
}

h1{
    text-align: center;
    padding: 25px 0px 25px 0px;
}

.icon:hover{
    opacity: 0.65;
}
